
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import "~bootstrap/dist/css/bootstrap.css";
@import "../css/font-awesome.min.css";
@import "~ionicons/dist/scss/ionicons";
@import "../css/bootstrap-table.min.css";
@import "../css/select2.min.css";
@import "../css/AdminLTE.css";
@import "../css/ekko-lightbox.css";
@import "../css/skins/_all-skins.min.css";
@import "../css/square/blue.css";
@import "../css/bootstrap-colorpicker.min.css";
@import "../css/style.css";


.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
